<ion-content fullscreen class="ion-padding">
  <ion-searchbar  placeholder="Search for a movie" [(ngModel)]="searchTerm" (ionChange)="searchMovies(searchTerm)"></ion-searchbar>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-6 gap-6 mt-6">
    <ng-container *ngIf="movies && movies.length > 0; else noResults">
      <ion-card *ngFor="let movie of movies" class="bg-white">
        <div class="relative aspect-w-2 aspect-h-3">
          <ion-img [src]="movie.Poster" alt="Movie Poster" class="object-cover w-full h-full"></ion-img>
        </div>
        <ion-card-header>
          <ion-card-title class="text-xl font-bold">{{ movie.Title }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="text-sm">{{ movie.Year }}</p>
          <p class="text-sm">{{ movie.Type }}</p>
        </ion-card-content>
      </ion-card>
    </ng-container>
    <ng-template #noResults>
      <p class="text-center">No results found.</p>
    </ng-template>
  </div>
</ion-content>
