
<ion-content fullscreen class="content-no-scrollbar">
  <div class="ion-padding">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-4">
      <div *ngFor="let item of movies" class="bg-white shadow-lg rounded-lg p-2">
        <div class="aspect-w-3 aspect-h-4">
          <img [src]="item.primaryImage.url" alt="{{ item.primaryImage.caption.plainText }}" class="object-cover w-full h-full rounded-t-lg" />
        </div>
        <div class="p-4">
          <h2 class="text-lg font-bold mb-2">{{ item.titleText.text }}</h2>
          <p class="text-gray-500">{{ item.description }}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>

