.custom-input {
    background-color: transparent;
  }
  .logo-image {
    width: 33px;
    height: auto;
    max-height: 100%;
  }

  .login-image {
    width: 450px;
    height: auto;
    max-height: 100%;
  }
  