

header {
  
    z-index: 1;
  
}
section { 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.logo-image {
  width: 33px;
  height: auto;
  max-height: 100%;
}
ion-label {
  font-family: 'font-sans', sans-serif ;
}

ion-content {
  --background: linear-gradient(180deg,  #053f5c, #053f5c,  #195675);

}

ion-icon {
  color: rgb(229, 229, 229);
}

ion-menu {
  --ion-background-color: #053f5c;
  
}

ion-item {
  border-radius: 5px;
  margin-inline: 7px;
}


ion-item:hover {
  background-color: #225f7d;
  --color: #0d5172 !important;
}



ion-content {
  --ion-background-color: ;
}





