<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="flex justify-center ">
      <img src="{{ logoImagePath }}" alt="Logo" class="logo-image  mr-2">
      <h1 class="text-xl font-sans font-medium text-gray-600">FilmBox</h1>
    </div>
  </ion-toolbar>
</ion-header>

<ion-menu side="start" contentId="main-content">
  <div class="flex items-start  mt-9 ml-8 mb-4">
    <img src="{{ logoImagePath }}" alt="Logo" class="logo-image  mr-2">
    <h1 class="text-2xl font-sans font-medium text-gray-300">FilmBox</h1>
  </div>
  <ion-content>
    <ion-list>
      <!-- Sidebar items -->
      <ion-item (click)="navigateTo('latest-movies')" >
        <ion-icon slot="start" name="flame-outline"></ion-icon>
    
           <h1 class="font-sans font-normal  text-gray-300 text-base" >Latest Movies</h1>
       
      </ion-item>
      <ion-item (click)="navigateTo('search-movie')">
        <ion-icon slot="start" name="Search"></ion-icon>
        <h1 class="font-sans font-normal text-gray-300 text-base" >Search Movies</h1>
      </ion-item>
      <ion-item (click)="navigateTo('suggest-movie')">
        <ion-icon slot="start" name="flag-outline"></ion-icon>
        <h1 class="font-sans font-normal text-gray-300 text-base" >Suggest</h1>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


  <ion-router-outlet class="mt-20" id="main-content"></ion-router-outlet>



